body{
    margin: 0 auto;
}
.c1{
    background-color: cornflowerblue;
    position: absolute;
    height: 100vh;
    width: 250px;
    transition: transform .3s ease-out;
    -webkit-transition:-webkit-transform .3s ease-out;
    transform: translate(-250px,0);
    -webkit-transform: translate(-250px,0)
    z-index:1
}
.c1.open{
    transform: translate(0,0);
    -webkit-transform:translate(0,0);
}
.c2{
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    position:absolute;
}