@import './normalize.css'
@import './reset'
@import './video'
$black = #212121
$white = #FAFAFA
body
    font-size 16px
.header
    background-color $black
    color $white
    height 64px
    position fixed
    top 0
    left 0
    width 100%
    z-index 10
    line-height 64px

    &-mobile
        display flex
        justify-content space-between

    &-logo
        order 1

    &-btn-nav
        order 2
        border 0
        border-radius 5px
        background-color $black
        padding 0
        margin-right 1rem

    &-menu-navbar
        background-color $black


    &-menu-list
        list-style-type none
        height 0
        overflow hidden
        transition height 0.3s ease

        &--show
            height 280px

        &-item
            a
                text-decoration none
                color $white
                width 100%
                padding 1.5rem
                display block

@media (min-width: 768px)
    .header
        display flex
        flex-direction row
        justify-content space-between
        flex-wrap wrap
        height 80px
        transition all .3s ease
        line-height 80px

        &-logo
            margin-left 2rem
        &-btn-nav
            display none

        &-menu-list
            height 80px

            &-item
                display inline-block
                a
                    padding 0 1em

