body{
    margin: auto 0;
}
nav{
    background-color: #EEEEEE;
    height: 64px;
    line-height: 64px;
}

.c1,.c2,.c3{
    width: 100%;
}
.container{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow:row wrap;
}


.c1{
    background-color: rgb(24, 115, 209);
    height: 400px;
}
.c2{
    background-color: #82edbc;
    height: 400px;
}
.c3{
    background-color: #edcf6c;
    height: 400px;
}

@media(min-width: 500px){
   .c1{
       width: 70%;
       order:2;
       -webkit-order:2
   }
    .c2{
        width:30%;
        order:1;
        -webkit-order:1;

    }
    .c3{
        width: 100%;
        order:3;
        -webkit-order:3;
    }
}

@media(min-width: 800px){
    .c2,.c3{
        width:20%;
    }
    .c1{
        width:60%;
    }
}